.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 38px;

  &.btn-primary {
    color: white;
  }
  &.btn-secondary {
    color: white;
  }
  &.btn-danger {
    color: white;
  }
}
