.card {
  background-color: unset;

  border: none;

  color: black;

  &.card-shadow {
    padding: 0px 0.75rem;

    box-shadow: 0px 0px 5px 2px $medium-grey;
  }

  &.card-border {
    border: 1px solid $grey;
    box-shadow: none;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    background-color: unset;
    border: unset;
    min-height: 40px;

    .card-title {
      margin: 0px;
      font-size: 22px;
      font-weight: 500;
      line-height: 20px;
    }
    .card-toolbar {
      display: flex;
      align-items: center;
      margin: 0px;
    }
  }

  .card-body {
    padding: 1rem;
  }
}
