.table {
  border-radius: 8px;
  overflow: hidden;

  thead tr td {
    color: white;
    background-color: $secondary;
    &:first-child {
      padding-left: 1rem;
    }
    &:last-child {
      padding-right: 1rem;
    }
  }

  tbody {
    tr {
      &:nth-child(2n) td {
        background-color: #fafafa;
      }
      &.selected {
        td {
          background-color: $secondary-light;
        }
      }

      td {
        &:first-child {
          padding-left: 1rem;
        }
        &:last-child {
          padding-right: 1rem;
        }
      }
    }
  }
}

.table + .loading {
  position: absolute;
  background-color: white;
  padding: 1.25rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
