.table {
  border-radius: 8px;
  margin: 0px;

  thead tr td {
    color: white;
    background-color: $secondary;
    &:first-child {
      padding-left: 1rem;
    }
    &:last-child {
      padding-right: 1rem;
    }
  }

  tbody {
    tr {
      &:nth-child(2n) td {
        background-color: #fafafa;
      }
      &.selected {
        td {
          background-color: $secondary-light;
        }
      }

      td {
        vertical-align: middle;
        &:first-child {
          padding-left: 1rem;
        }
        &:last-child {
          padding-right: 1rem;
        }
      }
    }
  }
}

.table-wrapper {
  position: relative;
  overflow-x: scroll;

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    position: absolute;
    background-color: white;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
