.text-align-center {
  text-align: center;
}

.spinner {
  animation: rotation 2s infinite linear;
}

.pointer {
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
