$primary: #8481c7;
$secondary: #b884df;
$secondary-light: #b884df50;

$grey: #d2d2d2;
$medium-grey: #e2e2e2;
$light-grey: #f2f2f2;

$background: #f2f2f2;

$success: #00c851;
$success-light: #68d293;
$danger: #171414;
$danger-light: #ff7c7c;
$warning: #ffbb33;
$warning-light: #ffd98d;
$info: #33b5e5;
$info-light: #82deff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
);

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};

  --grey: #{$grey};
  --medium-grey: #{$medium-grey};
  --light-grey: #{$light-grey};

  --success: #{$success};
  --danger: #{$danger};
  --warning: #{$warning};
  --info: #{$info};
  --success-light: #{$success-light};
  --danger-light: #{$danger-light};
  --warning-light: #{$warning-light};
  --info-light: #{$info-light};
}
