$primary: #8481c7;
$secondary: #b884df;
$secondary-light: #b884df50;

$grey: #d2d2d2;
$medium-grey: #e2e2e2;
$light-grey: #f2f2f2;

$background: #f2f2f2;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": red,
);

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};

  --grey: #{$grey};
  --medium-grey: #{$medium-grey};
  --light-grey: #{$light-grey};
}
