body {
  background-color: $primary;
}

#main {
  padding-left: $aside-width;
}

#post {
  background-color: $background;

  height: calc(100dvh - $topbar-height);

  border-radius: 16px 0px 0px 0px;
  padding: 1.25rem;

  overflow-y: scroll;
}

@media (max-width: 768px) {
  .aside {
    display: none;
  }

  #main {
    padding-left: 0px;
  }

  #post {
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 3rem;
    height: calc(100dvh - $topbar-height - $topbar-height);
  }

  .bottom-navigation {
    display: flex;
  }
}
